@page {
    size: A4;
    margin: 5mm; /* 모든 방향 여백 2cm */
  }

  @media print {
      button {
          display: none;
      }
      /* 또는 특정 버튼만 숨기려면 */


  }

  body {
          counter-reset: page;
          font-family: 'Nanum Barun Gothic YetHangul', sans-serif;
          background-color: #ffffff;
              margin: 0; /* 모든 방향의 여백 제거 */
              padding: 0; /* 모든 방향의 패딩 제거 */
              justify-content: center; /* 수평 중앙 정렬 */
              align-items: center; /* 수직 중앙 정렬 (필요 시 추가) */
              flex-direction: column; /* 요소들을 세로로 정렬 */
              font-size: 2vw;
              
  }

          .page {
          position: relative;
          display: flex;
          width: 100%; /* A4 용지 너비 */
          aspect-ratio: 210/297;
          border: calc(4 / 16 * 2vw) solid black; /* 검은색 1px 테두리 추가 */
          padding: calc(5 / 210 * 100vw);
          padding-top: calc(10 / 210 * 100vw);
          box-sizing: border-box; /* 테두리를 너비와 높이에 포함 */
          page-break-inside: avoid; /* 페이지 중간에서 나뉘는 것을 방지 */
              break-inside: avoid;      /* 최신 브라우저 호환 */
              align-items: center; /* 수직 중앙 정렬 (필요 시 추가) */
              flex-direction: column; /* 요소들을 세로로 정렬 */
              font-size: 2vw;
          /* background-color: #eee; 페이지 영역 확인을 위한 배경색 (테스트 후 제거) */
          }
  


      .page-footer {
              position: absolute;
              bottom: calc(10 / 210 * 100vw); /* 페이지 하단으로부터 여백 */
              width: 100%; /* 가로 전체 채우기 */
              text-align: center; /* 가운데 정렬 */
              font-size: calc(20 / 16 * 2vw); /* 숫자 크기 */
              font-weight: bold;
              color: #1f77b4; /* 파란색 */
              text-shadow: 
                  0.5px 0.5px 0px currentColor, 
                  -0.5px -0.5px 0px currentColor,
                  -0.5px 0.5px 0px currentColor,
                  0.5px -0.5px 0px currentColor; /* 테두리 효과 */
      }

      .page-footer-line {
          display: block;
          margin: calc(5 / 16 * 2vw) auto 0; /* 숫자와 선 사이 여백 */
          width: calc(50 / 16 * 2vw); /* 선 길이 */
          height: calc(4 / 16 * 2vw); /* 선 두께 */
          background-color: #6baed6; /* 선 색상 */
      }

      /* 전체 헤더 컨테이너 */
      .header-container {
          position: relative;
          width: 97%;
          box-sizing: border-box;
          padding: calc(10 / 16 * 2vw) calc(20 / 16 * 2vw); /* 상하, 좌우 여백 */
      }


      /* 맨 위 하늘색 가로선 */
      .header-top-line {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: calc(7 / 16 * 2vw);
          background: linear-gradient(to right, #3b82f6 0%, #3b82f6 3%, #9ecff2 3%, #9ecff2 97%, #3b82f6 97%, #3b82f6 100%);
          
      }

      /* 양쪽 수직 파란색 선 */
      .header-vertical-line {
          position: absolute;
          top: 0;
          width: calc(7 / 16 * 2vw);
          height: 80%;
          background-color: #3b82f6; /* 파란색 */
      }

      .header-vertical-line.left {
          left: 0; /* 왼쪽 수직선 */
      }

      .header-vertical-line.right {
          right: 0; /* 오른쪽 수직선 */
      }

      /* 텍스트 컨테이너 */
      .header-content {
          display: flex; /* Flexbox를 사용해 한 줄에 정렬 */
          justify-content: space-between; /* 왼쪽과 오른쪽 끝에 텍스트 배치 */
          align-items: center; /* 수직 중앙 정렬 */
      }

      /* 텍스트 스타일 */
      .header-text {
          padding-top: calc(6 / 16 * 2vw); /* 위쪽 여백 추가 */
          font-size: calc(15 / 16 * 2vw);
          font-weight: bold;
          color: #222;
          margin: 0; /* 기본 마진 제거 */
      }

      .title-frame {
          margin-top: calc(10 / 16 * 2vw);
          margin-bottom: calc(30 / 16 * 2vw);
          margin-left: auto; /* 왼쪽 여백 auto */
          margin-right: auto; /* 오른쪽 여백 auto */
          display: grid;
          grid-template-columns: 25fr 50fr 25fr; /* 왼쪽:중앙:오른쪽 비율 */
          background-color: #dbeef9; /* 하늘색 배경 */
          border: calc(2 / 16 * 2vw) solid #ffffff; /* 흰색 외곽선 */
          padding: calc(10 / 16 * 2vw);
          width: 92%;
          box-sizing: border-box;
          position: relative;
      }

      .title-frame > div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #333;
          font-weight: bold;
      }

      .title-frame::before, .title-frame::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: calc(4 / 16 * 2vw); /* 세로선 두께 */
          background-color: #ffffff; /* 흰색 세로선 */
      }

      .title-frame::before {
          left: 25%; /* 왼쪽 블록과 중앙 블록 사이 */
      }

      .title-frame::after {
          left: 75%; /* 중앙 블록과 오른쪽 블록 사이 */
      }

      .title-frame .left-block img {
          max-width: calc(130 / 16 * 2vw); /* 로고 크기 조절 */
          height: auto;
      }

      .title-frame .center-block .small-title {
          font-size: calc(14 / 16 * 2vw);
          font-weight: normal;
          margin-bottom: calc(10 / 16 * 2vw);
          color: #333;
      }

      .title-frame .center-block .big-title {
          font-size: calc(20 / 16 * 2vw);
          font-weight: bold;
          color: #333;
      }

      .title-frame .right-block {
          display: flex;
          flex-direction: column; /* 세로 방향으로 배치 */
          align-items: stretch; /* 가로 폭 꽉 채우기 */
          flex: 1;
          margin-left: 0px;
          position: relative;
      }

      .right-block .row { /* 새로운 행 컨테이너 */
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%; /* 부모 너비에 맞춤 */
          box-sizing: border-box; /* padding, border 포함 너비 계산 */
      }

      .right-block .right-1,
      .right-block .right-2,
      .right-block .right-3,
      .right-block .right-4{
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 0px;
          text-align: center; /* 텍스트 가운데 정렬 */
      }

      .right-block .white-line-V {
          width: calc(4 / 16 * 2vw);
          height: 200%; /* 부모 높이에 맞춤 */
          background-color: #ffffff;
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: calc(-8 / 16 * 2vw);
          margin-right: calc(10 / 16 * 2vw);
      }

      .right-block .white-line-H {
          gap: calc(100 / 16 * 2vw);
          height: calc(4 / 16 * 2vw);
          width: 105%; /* 부모 너비에 맞춤 */
          background-color: #ffffff;
          margin: calc(10 / 16 * 2vw) 0; /* 상하 여백 */
          margin-left: calc(4 / 16 * 2vw); /* 왼쪽 여백 추가 */
          position: relative;
      }

      .right-block input {
          width: 100%;
          padding: calc(5 / 16 * 2vw);
          border: calc(1 / 16 * 2vw) solid #ccc;
          border-radius: calc(5 / 16 * 2vw);
          text-align: center;
          box-sizing: border-box;
      }


      h1 {
          color: #333;
          text-align: center;
          font-size: calc(25 / 16 * 2vw);

      }
      .passage-box {
          padding: calc(5 / 16 * 2vw);
      }
      .passage {
          text-indent: calc(10 / 16 * 2vw);
          font-size: calc(13 / 16 * 2vw);
          margin-bottom: 0px;
          margin-top: calc(-18 / 16 * 2vw);
          line-height: 1.6;
          border-radius: 0px;
          padding: calc(10 / 16 * 2vw);
          width: 95%;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          letter-spacing: calc(0.5 / 16 * 2vw); /* 기본 자간 설정 */
          transition: letter-spacing 0.2s ease; /* 자간 변화 시 부드러운 전환 효과 */
          text-align: justify; /* 텍스트 양쪽 정렬 */
          text-justify: inter-word; /* 단어 간 간격을 활용하여 정렬 */
          
          
      }
      
      .height-total { /* 추가된 스타일 */
          text-align: right; /* 우측 정렬 */
          margin-top: calc(5 / 16 * 2vw); /* 위쪽 여백 추가 */
          font-size: calc(10 / 16 * 2vw);
      }


      .question-number {
          text-indent: 0; /* 들여쓰기 초기화 */
          position: absolute;
          top: calc(-10 / 16 * 2vw);
          left: calc(-10 / 16 * 2vw);
          width: calc(20 / 16 * 2vw);
          height: calc(20 / 16 * 2vw);
          background: #007bff;
          color: white;
          border-radius: 50%;
          text-align: center;
          line-height: calc(20 / 16 * 2vw);
          font-weight: bold;
          font-size: calc(10 / 16 * 2vw);
      }

      .highlight-container {
          text-indent: 0; /* 들여쓰기 초기화 */
          display: inline-block;
          vertical-align: middle;
          position: relative;
          border: calc(1 / 16 * 2vw) solid #007bff;
          border-radius: calc(5 / 16 * 2vw);
          background-color: #f9f9f9;
          cursor: pointer;
          text-align: center;
          font-size: calc(10 / 16 * 2vw);
          font-weight: bold;
          color: #007bff;
          margin: calc(10 / 16 * 2vw) calc(5 / 16 * 2vw); /* 수평 마진 */
          padding: calc(5 / 16 * 2vw); /* 상단 여유 공간 확보 */
          white-space: normal;
          word-wrap: break-word;
          /* width은 내용에 따라 자동 조절됨 */
      }

      .highlight-container .hint-text {
          text-indent: 0; /* 들여쓰기 초기화 */
          border: calc(1 / 16 * 2vw) solid #007bff;
          border-radius: calc(5 / 16 * 2vw);
          display: inline-block; /* block에서 inline-block으로 변경 */
          text-align: center;
          font-size: calc(10 / 16 * 2vw);
          font-weight: bold;
          color: #007bff;
          background: #f9f9f9;
          width: 70%;
          margin-bottom: calc(5 / 16 * 2vw);
          position: absolute;
          top: -50%; /* 프레임 위로 이동 */
          left: 50%;  /* 가로 중앙 */
          transform: translateX(-50%); /* 가로 중앙 정렬 */
          z-index: 100; /* 다른 요소 위로 표시 */
          white-space: nowrap; /* 줄바꿈 방지 */
      }

      .highlight-container input {
          text-indent: 0; /* 들여쓰기 초기화 */
          border: none;
          outline: none;
          font-size: calc(12 / 16 * 2vw);
          font-weight: bold;
          color: #007bff;
          text-align: center;
          background: transparent;
          /* width은 size 속성에 의해 조절됨 */
      }


      .choice-container {
          text-indent: 0; /* 들여쓰기 초기화 */
          display: inline-block;
          position: relative;
          vertical-align: middle;
          justify-content: space-between;
          align-items: center;
          border: calc(1 / 16 * 2vw) solid #007bff;
          border-radius: calc(5 / 16 * 2vw);
          background-color: #aec2e8;
          padding: calc(5 / 16 * 2vw);
          margin: calc(5 / 16 * 2vw) calc(5 / 16 * 2vw); /* 수평 마진 */
          word-wrap: break-word;
          white-space: normal;
      }
      

      .choice-option {
          text-indent: 0; /* 들여쓰기 초기화 */
          display: inline-block;
          margin: 0 calc(2 / 16 * 2vw);
          padding: calc(3 / 16 * 2vw) calc(5 / 16 * 2vw);
          text-align: center;
          border: calc(1 / 16 * 2vw) solid #007bff50;
          background-color: #ffffff;
          border-radius: calc(3 / 16 * 2vw);
          cursor: pointer;
          font-weight: bold;
          color: #333;
          font-size: calc(9 / 16 * 2vw);
      }
      .choice-option:hover {
          text-indent: 0; /* 들여쓰기 초기화 */
          background-color: #007bff;
          color: white;
      }
      .choice-option.selected {
          text-indent: 0; /* 들여쓰기 초기화 */
          background-color: #007bff;
          color: white;
      }

      .correct-answer {
          text-indent: 0; /* 들여쓰기 초기화 */
          font-size: calc(12 / 16 * 2vw); /* 작은 글씨 */
          color: #007bff; /* 파란색 */
          margin-top: calc(5 / 16 * 2vw); /* 위와의 간격 */
          font-weight: bold;
          display: flex; /* 부모 요소를 flex 컨테이너로 설정 */
          justify-content: center; /* 수평 중앙 정렬 */
          align-items: center; /* 수직 중앙 정렬 */
      }

      .result-icon {
          position: absolute;
          top: 25%; /* 프레임 위로 이동 */
          left: 50%;  /* 가로 중앙 */
          transform: translateX(-50%); /* 가로 중앙 정렬 */
          z-index: 100; /* 다른 요소 위로 표시 */
      }

      .score {
          text-indent: 0; /* 들여쓰기 초기화 */
          font-size: calc(16 / 16 * 2vw);
          font-weight: bold;
          text-align: center;
          margin-top: calc(20 / 16 * 2vw);
      }

      /* 선택형 문제 클릭 방지 */
      .choice-option.disabled {
          pointer-events: none;
          opacity: 0.6;
      }